body {
	font-size: 20px;
	font-family: 'helvetica';
	text-align: center;
}

#board {
	margin-left: 510px;
	font-size: 40px;
}

input[type=number]{
	width: 60px;
	height: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'helvetica';
}

button {
	margin-top: 10px;
	width: 100px;
	height: 30px;
	font-size: 18px;
	color: white;
	background-color: black;
	cursor: pointer;
}





